// Primary

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$white: hsl(0, 0%, 100%);

// Neutral

$darkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);

// Typography - Font size, weights

$smallestSize: 0.85rem;
$smallSize: 0.95rem;
$normal: 200;
$bold: 400;
$bolder: 600;